body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #eef2f7, #dfe7f3);
}

main {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 20px;
}

section {
  background: #eef2f7;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

/* Quando a tela for maior que 768px (computador) */
@media (min-width: 768px) {
  main {
    grid-template-columns: 1fr 1fr;
  }
}
